body
{
    background-color: aquamarine;    
}

h3
{
    color: blue;
}

.single-goods
{
    width: 200px;
    height: 250px;
    border: 1px solid black;
    margin: 10px;
    float: left;
    text-align: center;
    background-color: skyblue;
}

.single-goods button
{
    display: block;
    margin: 26px 0 0 55px;
}